<div class="row">
  <div class="col-3 h-100 overflow-auto justify-content-center" [formGroup]="marksForm">
    <div class="col-12 mt-5">
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Широта" formControlName="lat">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Долгота" formControlName="lng">
        </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Описание метки" formControlName="name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Цвет метки" formControlName="color">
          </div>
          <button type="submit" class="btn btn-primary" (click)="addMarker()">Добавить</button>
        <div class="card mt-3" *ngIf="markers">
          <ul class="list-group list-group-flush">
            <li class="list-group-item mt-1" *ngFor="let mark of markers">
              <span class="mr-2 fa fa-location-arrow" (click)="getCoordsMark(mark)"></span>{{mark.name}}
            </li>
          </ul>
        </div>
    </div>
  </div>
  <div class="col-9">
    <div class="map" id="map"></div>
  </div>
</div>